<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/style.css" />
    <script src=""></script>
</head>

<body>
    <div>
        <h1>HELLO</h1>
    </div>
    <div>
        <form action="" method="post">
            <div>
                <label for="">Email</label>
                <input type="email" name="email" placeholder="Email" id="email" class=""/>
            </div>
            <div>
                <label for="">Nombre de usuario</label>
                <input type="text" name="username" placeholder="Nombre de usuario" id="username" class="" />
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" id="password" class="" />
            </div>
            <div>
                <label for="password">Confirma tu Contraseña</label>
                <input type="password" name="password_confirmatio" placeholder="Confirmar Contraseña" id="password" class="" />
            </div>
            <div>
                <div>
                    <input type="submit" value="Iniciar sesión" class="">
                </div>
                <div>
                    <a href="/signup.html"> Ya tengo cuenta</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>