<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/ed-grid.min.css" />
</head>
<body class="center">
    <header>
        <div>
            <h1>HELLO</h1>
        </div>
        <nav class="nav">
            <ul>
                <li class="nav_item">
                    <a href="home.html">HOME</a>
                </li>
                <li class="nav_item">
                    <a href="shop.html">SHOP</a>
                </li>
            </ul>
        </nav>
    </header>
    <article>
        <h1 class="main-title">Marvel's Heroes</h1>
        <div>
            <input type="search" id="search" placeholder="buscar">
        </div>
        <div id="content" class="ed-container"></div>
        
        <script src="../../js/md5.min.js"></script>
        <script src="../../js/main.js"></script>
    </article>
   
</body>

</html>